table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

/* Housekeeping */

body {
  /* background-image: linear-gradient(to right, #303887, #7d9cbb); */
  
  /* padding-top: 3.5%; */
}


.spreadSheetGroup {
  /*font:0.75em/1.5 sans-serif;
    font-size:14px;
  */
  color: #333;
  background-color: #fff;
  padding: 1em;
}

/* Tables */
.spreadSheetGroup table {
  width: 100%;
  margin-bottom: 1em;
  border-collapse: collapse;
}

.spreadSheetGroup .proposedWork th {
  background-color: #eee;
}

.tableBorder th {
  background-color: #eee;
}

.spreadSheetGroup th,
.spreadSheetGroup tbody td {
  padding: 0.5em;

}

.spreadSheetGroup tfoot td {
  padding: 0.5em;

}

.spreadSheetGroup td:focus {
  border: 1px solid #fff;
  -webkit-box-shadow: inset 0px 0px 0px 2px #5292F7;
  -moz-box-shadow: inset 0px 0px 0px 2px #5292F7;
  box-shadow: inset 0px 0px 0px 2px #5292F7;
  outline: none;
}

.spreadSheetGroup .spreadSheetTitle {
  font-weight: bold;
}

.spreadSheetGroup tr td {
  text-align: center;
}

/*
.spreadSheetGroup tr td:nth-child(2){
  text-align:left;
  width:100%;
}
*/

/*
.documentArea.active tr td.calculation{
  background-color:#fafafa;
  text-align:right;
  cursor: not-allowed;
}
*/
.spreadSheetGroup .calculation::before,
.spreadSheetGroup .groupTotal::before {
  /*content: "$";*/
}

.spreadSheetGroup .trAdd {
  background-color: #007bff !important;
  color: #fff;
  font-weight: 800;
  cursor: pointer;
}

.spreadSheetGroup .tdDelete {
  background-color: #eee;
  color: #888;
  font-weight: 800;
  cursor: pointer;
}

.spreadSheetGroup .tdDelete:hover {
  background-color: #df5640;
  color: #fff;
  border-color: #ce3118;
}

.documentControls {
  text-align: right;
}

.spreadSheetTitle span {
  padding-right: 10px;
}

.spreadSheetTitle a {
  font-weight: normal;
  padding: 0 12px;
}

.spreadSheetTitle a:hover,
.spreadSheetTitle a:focus,
.spreadSheetTitle a:active {
  text-decoration: none;
}

.spreadSheetGroup .groupTotal {
  text-align: right;
}



table.style1 tr td:first-child {
  font-weight: bold;
  white-space: nowrap;
  text-align: right;
}

table.style1 tr td:last-child {
  border-bottom: 1px solid #000;
}



table.proposedWork td,
table.proposedWork th,
table.exclusions td,
table.exclusions th {
  border: 1px solid #000;
}

table.proposedWork thead th,
table.exclusions thead th {
  font-weight: bold;
}

table.proposedWork td,
table.proposedWork th:first-child,
table.exclusions th,
table.exclusions td {
  text-align: left;
  vertical-align: top;
}

table.proposedWork td.description {
  width: 80%;
}

table.proposedWork td.amountColumn,
table.proposedWork th.amountColumn,
table.proposedWork td:last-child,
table.proposedWork th:last-child {
  text-align: center;
  vertical-align: top;
  white-space: nowrap;
}

.amount:before,
.total:before {
  /* content: "$"; */
}

table.proposedWork tfoot td:first-child {
  border: none;
  text-align: right;
}

table.proposedWork tfoot tr:last-child td {
  font-size: 16px;
  font-weight: bold;
}

table.style1 tr td:last-child {
  width: 100%;
}

table.style1 td:last-child {
  text-align: left;
}

td.tdDelete {
  width: 1%;
}

table.coResponse td {
  text-align: left
}

table.shipToFrom td,
table.shipToFrom th {
  text-align: left
}

.docEdit {
  border: 0 !important
}

.tableBorder td,
.tableBorder th {
  border: 1px solid #000;
}

.tableBorder th,
.tableBorder td {
  text-align: center
}

table.proposedWork td,
table.proposedWork th {
  text-align: center
}

table.proposedWork td.description {
  text-align: left
}

.heading {
  text-align: center;
}

#login-button {

  position: absolute;
  left: 50%;
}

.container {
  margin-left: 50%;
  border-radius: 10px;
  border-color: #000;
  border: 2px dotted;
}

.login-page {
  /* margin-top: 150px !important; */
  padding-top: 3.5%;
  padding-right: 3.5%;
  padding-left: 3.5%;
  padding-bottom: 3.5%;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 15%;
  /* margin-bottom: 9%; */
  background-color: #9fb5fc;
  font-size: 12px;
  width: 300px;
  border: rgb(96, 72, 233);
  /* border-style: solid; */
  border-radius: 20px;

}

.register-right .btn-primary {
  float: right;
  border-radius: 1.5rem;
  border: none;
  width: 120px;
  background: #75a9df;
  font-weight: 600;
  columns: #fff;
  margin-top: 20px;
  padding: 10px;
}

.register-left .btn-primary:hover {
  background: #000;
}

.neclogo {
  position: absolute;
  top: 2%;
  left: 73%;
  height: 30px;
  width: 250px;
}

.register-right {
  border: none;
  background: #f8f8f8;
  border-top-left-radius: 10% 50%;
  border-bottom-left-radius: 10% 50%;
  padding: 50px;
  background-color: #599ae0;

}

.voice-register {
  padding: 30px;
}

.login-main-div{
  margin-left: 10%;
}

#DESC1{
  text-align: center;
}